<html xmlns:th="https://www.thymeleaf.org/">
	<head>
		<title>Example</title>
	<!--	<style>
			.mydeg{
				color:red;
			}
		</style>  -->
		
		<link th:href="@{/css/mycssfile.css}" rel="stylesheet"/>
		<script type="text/javascript" th:src="@{/js/myinfo.js}"></script>
	</head>
	<body>
		<img th:src="@{/images/iphone15proMax.jpg}" width="80" height="100"/>
		<h3 class="mydeg">Data is : [[${message}]]</h3>
		<div th:text="${message}"></div>
		<a th:href="@{/data}">Goto Home page</a>
	</body>
</html>